* { /* index. htlm*/
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    background-color: #FFFBDF ;
    height: 100px;
    border-bottom: 2px solid #E1701A;
}

.header__logo img {
    margin: 22px;
    height: 60px;
    width: auto;
    float: left;
}

.header__menu {
    float: right;
    margin: 43px;
}

.header__menu ul {
    display: flex;
}

.header__menu ul li a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    margin: 0 20px;
    color: #E1701A;
}

#principal {
    background-image: url(/imagenes/principalimagen.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-color: #FFFBDF
}

#principal h1 {
    padding: 130px;
    text-align: center;    
    color: black;
    font-size: 50px;
    font-family:'Courgette', cursive;
}

.principal__quienessomos {
    text-align: center;
}

.principal__quienessomos a {
    text-decoration: none;
    padding: 140px;
}


#PieDePagina {
    padding: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    color: white;
    background-color: black;
    height: 50px;
}

/* QUIENES SOMOS*/

.contenido {
    height: 180vh;
    padding: 100px;
  }


  .contenido__elemento {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 4rem 1.5rem;
  }

  .contenido__texto {
    width: 45vw;
    font-family:'Open Sans', sans-serif;
  }

  .contenido__texto h3 {
    font-family:'Courgette', cursive;
    color: #E1701A;
    text-align: left;
    font-size: 30px;
  }

  .contenido__texto p {
    color: black;
    font-family:'Open Sans', sans-serif;
    text-align: left;
    font-size: 20px ;
    padding-top: 25px;
}

/* NUESTROS PRODUCTOS*/

#contenido__productos {
    background-color: white;
    height: 140vh;
}

.contenido__grids {

    padding-top: 50px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

#PieDePagina {
    padding: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    color: white;
    background-color: black;
    height: 100px;
  }

/*NUESTROS LOCALES*/

#contenido__puntosdeventa {
    height: 200vh;
    padding: 100px;
}

.contenido__elementoventa {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 4rem 1.5rem;
}

.contenido__textoventa h3 {
    font-family:'Courgette', cursive;
    color: #E1701A;
    text-align: left;
    font-size: 30px;
}

.contenido__textoventa p {
    color: black;
    font-family:'Open Sans', sans-serif;
    text-align: center;
    font-size: 20px ;
    padding-top: 25px;
}    

/*
.contenido__localestitulo {
    color: #E1701A ;
    font-family:'Courgette', cursive;
    text-align: center;
    font-size: 40px;
    padding-top: 60px;
}

.contenido__localespalermo {
    color: #E1701A ;
    font-family:'Courgette', cursive;
    text-align: center;
    font-size: 25px;
    padding-top: 50px;
}

.contenido__localespalermotexto {
    color: black;
    font-family:'Open Sans', sans-serif;
    text-align: center;
    font-size: 20px ;
    padding-top: 25px;
}

.contenido__localesrecoleta {
    color: #E1701A ;
    font-family:'Courgette', cursive;
    text-align: center;
    font-size: 25px;
    padding-top: 50px;
}

.contenido__localesrecoletatexto {
    color: black;
    font-family:'Open Sans', sans-serif;
    text-align: center;
    font-size: 20px;
    padding-top: 25px;
}

.contenido__localesvilla {
    color: #E1701A ;
    font-family:'Courgette', cursive;
    text-align: center;
    font-size: 25px;
    padding-top: 50px;
}

.contenido__localesvillatexto {
    color: black;
    font-family:'Open Sans', sans-serif;
    text-align: center;
    font-size: 20px;
    padding-top: 25px;
}

.contenido__localessantelmo {
    color: #E1701A ;
    font-family:'Courgette', cursive;
    text-align: center;
    font-size: 25px;
    padding-top: 50px;
}

.contenido__localessantelmotexto {
    color: black;
    font-family:'Open Sans', sans-serif;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
}
*/


/*CONTACTATE CON NOSOTROS*/

.contenido__contactatetitulo {
    color: #E1701A ;
    font-family:'Courgette', cursive;
    text-align: center;
    font-size: 30px;
    padding-top: 60px;
}

.contenido__contactatetexto {
    color: black;
    font-family:'Open Sans', sans-serif;
    text-align: left;
    padding-top: 35px;
    padding-left: 5px;
    padding-right: 5px;
}

.contenido_contactatenombre {
    color: black;
    font-family:'Open Sans', sans-serif;
    text-align: center;
    padding-top: 70px;
}

.contenido__contactateemail {
    color: black;
    font-family:'Open Sans', sans-serif;
    text-align: center;
    padding-top: 25px;
}

.contenido__contactatepais {
    color: black;
    font-family:'Open Sans', sans-serif;
    text-align: center;
    padding-top: 25px;
}

.contenido__contactatetexto {
    text-align: center;
    padding-top: 25px;
}

.contenido__contactatecondiciones {
    color: black;
    font-family:'Open Sans', sans-serif;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 45px;
}

.contenido__contactateformulario {
    color: black;
    font-family:'Open Sans', sans-serif;
    text-align: center;
    padding-top: 25px;
}

