* { /* index. htlm*/
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*  MENU DE NAVEGACION  */

.header__menu {
    background-color:white;
    height: 100px;
}

.header__imagen img {
    margin: 22px;
    height: 60px;
    width: auto;
    float: left;
}

.header__navegacion {
    float: right;
    margin: 43px;
}

.header__navegacion ul {
    display: flex;
}

.header__menu ul li a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin: 0 20px;
    color: black;
}

/*  FOOTER */

.piedepagina {
    padding: 16px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    color: white;
    background-color: #CD113B;
    height: 50px;
}


/*  iNDEX.HTML */

.imagenprincipal img {
    margin-top: 0px;
}

.card-deck {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-right: 50px;
    padding-left: 50px;
}

/*  QUIENES SOMOS */

.contenido {
    width: 95vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: 0px;
}

.contenido__elemento {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1.5rem 1.5rem;
}

.contenido__elemento img {
    border-radius: 10px;
}

.contenido__texto {
    width: 45vw;
    color: black;
    font-family: 'Poppins',sans-serif;
}

.contenido__titulo {
    color: white;
    text-align: center;
    background-color: #52006A;
    font-family: 'Poppins', sans-serif;
}

.contenido__parrafo {
    color: black;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 16px;
    margin-top: 20px;
}


/*  NUESTROS PRODUCTOS */

.cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    max-height: 200vh;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 150px;
    margin-right: 50px;
}

.card {
    width: 300px;
    margin: 30px;
    border: 1px solid #ccc;
    box-shadow: 20px 15px 10x 10px  rgba(0,0,0,0.3);
}

.card img {
    max-width: 100%;
}

.text {
    padding: 0 20px 20px;
    font-family: 'Poppins',sans-serif;
}

/*     PUNTOS DE VENTA */

.contenido__puntosdeventa {
    width: 95vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: 0px;
}

.contenido__elementoventa {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1.5rem 1.5rem;
}

.contenido__ubicacionimagen {
    border-radius: 10px;
}

.contenido__textoventa {
    width: 45vw;
    color: black;
    font-family: 'Poppins',sans-serif;
}

.contenido__titulo1 {
    color: white;
    text-align: center;
    background-color: #52006A;
    font-family: 'Poppins', sans-serif;
}

.contenido__titulo2 {
    color:black;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*    CONTACTANOS */

.formulario {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-right: 100px;
    padding-left: 100px;
    font-family: 'Poppins', sans-serif;
}

.titulocontacto {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: black;
    text-align: center;
    padding-top: 30px;
   
}